.a_card {
    background-color: gray;
    width: 150px;
    height: 200px;
    /* align-content: center; */
    align-items: center;
    justify-content: center;
    display: flex inline;
    font-size: 48;
    margin: 1%;
    transition: transform 0.8s;
}

/* .a_card:hover {
    transform: rotateX(180deg);
    
} */

#cards_container {
    margin:auto
}