<!doctype html>
<html>
  <head>
	{% block head %}
	<link rel="stylesheet" href="/static/css/nav.css">
	<link rel="stylesheet" href="/static/css/index.css">
	<script type="text/javascript" src="/static/js/nav.js">

	</script>
	<title>{% block title %}{% endblock %} - Kinder</title>
	{% endblock %}
  </head>
  <body>
	  <!-- nav -->
	  <div onclick="handleNav(event)">
		<div class="wrapper" id="nav_wrapper">
			<nav>
			  <!-- <div></div> -->
			  <ul>
				<li id=nav_index class="active">
					<a href="{{url_for('index')}}" class=navItem>Home</a>
				</li>
				<li data-dedata="160px">
					<a href="#" class=navItem>Leader Board</a>
				</li>
				<li data-dedata="320px">
					<a href="#" class=navItem>Shop</a>
				</li>
				<li id=nav_upload>
					<a href="{{ url_for('upload.f_upload') }}" class=navItem>Upload</a>
				</li>
			  </ul>
			</nav>
		  </div>
	 </div>
	 <div id="content">
		 {% block content %}{% endblock %}
	 </div>
	 <div id="footer">
		 <!-- {% block footer %}
			&copy; Copyright 2010 by <a href="http://domain.invalid/">you</a>.
		 {% endblock %} -->
	  </div>
	</body>
</html>
