{% extends "base.html" %}
{% block title %}Upload{% endblock %}
{% block head %}
  {{ super() }}
  <!-- <link rel="stylesheet" href="/static/css/card.css"> -->
  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/upload.css">
{% endblock %}

{% block content %}
    {% with message = get_flashed_messages()[-1] %}
        {% if message %}
            <div style="width:80%;margin:auto">
                <div class="alert alert-success"> {{ message }} </div>
            </div>
        {% endif %}
    {% endwith %}

    <div class=upload_container>
        <form enctype="multipart/form-data" method="post" action="{{ url_for('upload.f_upload')}}" style="width:100%">
            <div class="form-group">
                <label for="catName">Name</label>
                <input type="text" class="form-control" id="catName" name="catName" aria-describedby="name" placeholder="Kitty Lil Paw" required>
                </div>
            <div class="form-group">
                <label for="catDesc">Short Description</label>
                <textarea class="form-control" id="catDesc" name="catDesc" rows="3" required></textarea>

            </div>
            <div class="form-group">
                <label for="catImg">Image</label>
                <input
                    type="file"
                    class="form-control-file"
                    accept='image/*'
                    id="catImg"
                    name="file"
                >
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
    </div>
{% endblock %}
