{% extends "base.html" %}
{% block title %}Upload{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/static/css/shop.css">
{% endblock %}

{% block content %}
<div class="container">
    <section class="home" id="home">
    
        <div class="content">
            <h3>Cat is my life</h3>
            <p>Let's choose the luckiest cat</p>
            <a href="#" class="btn">Shop is under construction</a>
        </div>
    
        <div class="video-container">
            <video src="https://player.vimeo.com/external/539948290.hd.mp4?s=a55697e234eecfcbb6ceae300ae88093a17708b5&profile_id=172&oauth2_token_id=57447761" id="video show" loop autoplay muted></video
         >
        </div>
    
    </section>
</div>


{% endblock %}
